extends ../../Layout/layout.pug
block main 
    h2 Môn: #{ttsv.tenmh} (mã môn : #{ttsv.mamh})
    h3 điểm cc1 : #{ttsv.cc1}
    h3 điểm cc2 :  #{ttsv.cc2}
    h3 điểm th1 : #{ttsv.th1}
    h3 điểm th2 : #{ttsv.th2}