extends ../../Layout/layout.pug

block main
  .inbox-container.py-4
    .header-section.mb-4
      h1.h3.font-weight-bold Hộp thư tin nhắn
      p.text-muted Trao đổi trực tiếp với giảng viên bộ môn

    .row
      each item in dsgv
        .col-lg-6.mb-3
          .inbox-card
            .inbox-left
              .avatar-wrapper
                img(src="/images/default-avatar.png", alt=item.user).avatar-img
                span.status-dot.online
              .user-details
                h3.teacher-name #{item.user}
                p.class-tag Lớp: #{item.nameCls} (#{item.mamh})
            
            .inbox-right
              - var targetLink = item.idroom ? `/inbox/${item.idroom}` : `/dsgv`
              a(href=targetLink).btn-inbox
                i.fa-regular.fa-paper-plane
                span Nhắn tin