extends ../../Layout/layout.pug

block main
  .container-fluid.py-4
    .header-section.mb-5
      h1.display-5.font-weight-bold Danh sách môn học
      p.text-muted Quản lý lớp học của bạn

    .row
      each item in dsmon
        .col-xl-4.col-md-6.mb-4
          .subject-card
            .subject-header
              .subject-icon
                i.fas.fa-book-open
              .subject-info
                span.subject-code #{item.mamh}
                h3.subject-name #{item.nameCls}
            
            .subject-body
              .status-tag.active Đang diễn ra
              .action-group
                a.btn-action.view-grades(href=`/sv/diem/${item._id}` title="Xem điểm")
                  i.fas.fa-chart-bar
                  span Bảng điểm
                
                .secondary-actions
                  a.btn-icon(href=`/sv/file/${item._id}` title="Tài liệu")
                    i.fa-regular.fa-file-lines
                  a.btn-icon(href=`/sv/notification/${item._id}` title="Thông báo")
                    i.fa-solid.fa-bell
                      span.dot-notify